.list {
  height: 600px;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.list-1 {
  display: flex;
  flex-direction: row;
}
.things {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  padding: 15px;
  height: 40px;
  width: 400px;
  letter-spacing: 0.9px;
  margin: 10px;
  background-color: rgb(51, 51, 68);
  border-radius: 15px;
}
.list-2 {
  display: flex;
}
.todos {
  background-color: rgb(28, 28, 29);
  margin: 10px;
  padding: 15px;
  width: 320px;
  height: 140px;
  border-radius: 15px;
}
.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-logo span {
  padding: 7px;
  margin: 10px;
  color: rgb(222, 231, 231);
  font-size: 27px;
  background-color: rgb(110, 102, 183);
  border-radius: 45%;
}
.header-logo h2 {
  color: rgb(104, 109, 114);
  font-size: 27px;
}
.header-logo div {
  background-color: rgb(94, 94, 90);
  font-size: 27px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 100px;
}
.todos h4 {
  color: rgb(104, 109, 114);
  font-size: 25px;
  margin: -5px;
  font-weight: 500;
}



